<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <meta name="author" content="SitePoint">
</head>

<body>
  <ul style="width: 300px; line-height: 180%;" class="hornav-ul" >
    <li style="background-color: orange; height: 47px; width: 100%; float: left;" class="hornav-li"><img style="display: block; height: 50px; width: 50px; margin-bottom: 10px; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename = 'images/shiba2.png')}}"/></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a">Dashboard</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a">Transactions</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a">Credit card</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a">Transfer money</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a">Exchange currency</a></li>
  </ul>

  <ul class="topnav-ul">
    <li class="topnav-li"><a class="topnav-a" href="{{ url_for('main.index') }}">Log out</a></li>
    <li class="topnav-li"><a class="topnav-a" href="{{ url_for('main.profile') }}">Profile</a></li>
  </ul>

</body>

</html>