<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <meta name="author" content="SitePoint">
</head>

<body>
  <ul style="width: 300px; line-height: 180%;" class="hornav-ul" >
    <li style="background-color: orange; height: 47px; width: 100%; float: left;" class="hornav-li"><img style="display: block; height: 50px; width: 50px; margin-bottom: 10px; margin-left: auto; margin-right: auto;" src="{{url_for('static', filename = 'images/shiba2.png')}}"/></li>
    <li style="width: 100%;" class="hornav-li-text active"><a class="hornav-a"  href="{{ url_for('bank.dashboard') }}">Dashboard</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a" href="{{ url_for('bank.transactions') }}">Transactions</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a"  href="{{ url_for('bank.card') }}">Credit card</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a" href="{{ url_for('bank.transfer') }}">Transfer money</a></li>
    <li style="width: 100%;" class="hornav-li-text"><a class="hornav-a" href="{{ url_for('bank.exchange') }}">Exchange currency</a></li>
  </ul>

  <ul class="topnav-ul">
    <li class="topnav-li"><a class="topnav-a" href="{{ url_for('main.logOut') }}">Log out</a></li>
    <li class="topnav-li"><a class="topnav-a" href="{{ url_for('main.profile') }}">Profile</a></li>
  </ul>
  <div style="position: absolute; top:50px; left: 270px;">
    <table style="width: 500px;">
      <tr>
          <td>
              <table class="tb-acc-balance"> 
                  <tr>
                      <td>
                          Account balace:
                          <ol>
                          {% for key in balance %}
                            <li>{{balance[key]}} {{key}}</li>
                          {% endfor %}
                        </ol>
                      </td>
                  </tr>
              </table>
          </td>
          <td>
              {% if 'yes' in verified %}
              <table class="tb-verified" style="background-color: green;">
                  <tr>
                      <td style="background-color: green;">
                          Verified: {{verified}}
                      </td>
                  </tr>
              </table>
              {% else %}
              <table class="tb-verified" style="background-color: red;">
                <tr>
                    <td style="background-color: red;">
                        Verified: {{verified}}
                    </td>
                </tr>
            </table>
              {% endif%}
          </td>
      </tr>
      <tr>
          <td colspan="2">
              <table class="tb-acc-info" style="width: 100%;">
                  <tr>
                      <td>
                          Card number:
                          {{card['card_number']}}
                      </td>
                  </tr>
                  
                  <tr>
                      <td>
                          Full Name:
                          {{card['user_name']}}
                      </td>
                  </tr>
                  
                  <tr>
                      <td>
                          Valid Thru:
                          {{card['exp_date']}}
                      </td>
                  </tr>
                  
                  <tr>
                      <td>
                          PIN Code:
                          ****
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
  </table>
  </div>

</body>

</html>