<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  <meta name="author" content="SitePoint">
</head>

<body>

    <table>
        <tr>
            <td>
                <table class="tb-acc-balance"> 
                    <tr>
                        <td>
                            Account balace:
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="tb-verified">
                    <tr>
                        <td>
                            Verified:
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="tb-currencies">
                    <tr>
                        <td>
                            Currencies:
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="tb-acc-info">
                    <tr>
                        <td>
                            Account Info:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Card number:
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Full Name:
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Valid Thru:
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            PIN Code:
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
</body>

</html>