<!DOCTYPE html>

<head>
    <title>Banka</title>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>

<table style="width: 400px;">
    <tr>
        <td>
            <img style=" display: block; margin-left: auto; margin-right: auto; height: 50px; width: 50px; margin-bottom: 20px;" src="{{url_for('static', filename = 'images/shiba.png')}}"/>
        </td>
    </tr>
    <form class="form-signin" action="{{ url_for('main.logIn') }}" method="POST">
        <tr>
            <td>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            </td>
        </tr>
      <tr>
          <td style="text-align: center;">
            <input type="submit" class="button login-button" value="Log In"/>
          </td>
      </tr>
    </form>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <form action="{{ url_for('main.register')}}">
                <input type="submit" class="button register-button" value="Sign Up" />
            </form>
        </td>
    </tr>
</table>
</body>